.card {
    background-color: var(--clr-white);
    padding: var(--space-m);
    border-radius: 1.25rem;
    text-align: center;
    max-width: 20rem;
    box-shadow: 0 1.5rem 1.5rem .75rem rgba(0, 0, 0, .05);
}

.card img {
    border-radius: .625rem;
    width: 100%;
    height: auto;
}

.card h1 {
    font-size: var(--step-2);
    font-weight: var(--fw-bold);
    color: var(--clr-slate-900);
    line-height: 1.2;
}

.card p {
    font-size: var(--step-0);
    color: var(--clr-slate-500);
    padding-inline: var(--space-xs);
}